<p id="notice"><%= notice %></p>

<h1>Inc Stable Accounts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inc_stable_accounts.each do |inc_stable_account| %>
      <tr>
        <td><%= link_to 'Show', inc_stable_account %></td>
        <td><%= link_to 'Edit', edit_inc_stable_account_path(inc_stable_account) %></td>
        <td><%= link_to 'Destroy', inc_stable_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inc Stable Account', new_inc_stable_account_path %>
