 <br>
 <div class="container">
  <% @
  currency_pref = current_user.present? ? (current_user.currency_pref.present? ? current_user.currency_pref : "USD") : "USD" %>

  <div class="row price-info">
    <div class="card-presentation col-xs-offset-2 col-xs-8 col-sm-offset-1 col-sm-6">
      <div class="card-header">
        <h4>STABLE</h4>
      </div>
      <div class="card-content">
        <h4>1 STABLE is now</h4>
        <div class="highlited-amount"><strong> <h3><%= "%g" % ("%.4f" % (Transaction.getprice(@currency_pref))) %> <%= @currency_pref %> </h3></strong> </div>
        <h4>Total amount of STABLE</h4>
        <div class="highlited-amount"><strong> <h3><%= number_to_currency_br(UserStableAccount.all.sum(:amount)) %></h3></strong></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 container card-presentation">
      <div class="card-header">
        <h4>Currency repartition in %</h4>
      </div>
      <div class="card-content">
        <%= pie_chart charts_cur_transactions_path %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 container card-presentation">
      <div class="card-header">
        <h4>STABLE Bank Accounts Monitoring</h4>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th class="t-left">Bank</th>
              <th>Amount</th>
              <th>Currency</th>
            </tr>
          </thead>

          <tbody>
            <% IncFiatAccount.all.each do |account| %>
              <tr>
                <td class="t-left"><%= account.bank %></td>
                <td><%= number_to_currency_net(account.amount) %></td>
                <td><%= account.currency_code %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 container card-presentation">
      <div class="card-header">
        <h4>Number of Transaction</h4>
      </div>
      <div class="card-content">
        <%= line_chart charts_new_transactions_path %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 container card-presentation">
      <div class="card-header">
        <h4>Last Network Transactions</h4>
      </div>
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Currency</th>
              <th>Rate</th>
              <th>Type</th>
              <th>STABLES</th>
            </tr>
          </thead>

          <tbody>
            <% Transaction.all.last(12).each do |transaction| %>
              <tr>
                <td class="t-left"><%= transaction.user_fiat_account.user.name %></td>
                <td><%= number_to_currency_net(transaction.amount_fiat) %></td>
                <td class="t-left"><%= transaction.currency_code %></td>
                <td><%= "%g" % ("%.4f" % transaction.exchange_rate) %></td>
                <td><%= transaction.typetr %></td>
                <td><%= number_to_currency_net(transaction.amount_stable) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>
  <% if UserFiatAccount.where(user: current_user).empty? %>
    <%= render :partial => "user_fiat_accounts/form", user_fiat_account: @user_fiat_account %>
  <% elsif user_signed_in? %>
    <%= render :partial => "user_fiat_accounts/myaccount" %>
  <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>

</div>
