  <div class="row my-account-section">
    <h2 class="btn my-account-dividor btn-block">Your Accounts</h2>
    <div class="container accounts-recap">
      <div class="row">
        <div class="col-xs-12 col-sm-6 container card-presentation">
          <div class="card-header">
            <h4>Your FIAT accounts</h4>
          </div>
          <div class="card-content">
            <table>
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Currency</th>
                </tr>
              </thead>
              <tbody>
                <% UserFiatAccount.where(user: current_user).each do |account| %>
                  <tr>
                    <td> <%= number_to_currency_br(account.amount) %></td>
                    <td> <%= account.currency_code %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="transaction-fiat">
              <h4>Make a Transfer</h4>
              <%= render 'transactions/buyform', transaction: @transaction, locals: {typetr: "BUY"} %>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 container card-presentation">
          <div class="card-header">
            <h4>Your STABLE account</h4>
          </div>
          <% stable_account = UserStableAccount.where(user: current_user)[0] %>
          <div class="card-content">
            <div class="stable-account">
            <%= "#{number_to_currency_br(stable_account.amount)} STABLE" %>
            </div>
            <br>
            <h4>Make a Transfer</h4>
            <%= render 'transactions/sellform', transaction: @transaction, locals: {typetr: "SELL"} %>
          </div>
        </div>

      </div>
    </div>
  </div>
