<p id="notice"><%= notice %></p>
<p><%= @user_fiat_account.currency_code %> <%= @user_fiat_account.amount %></p>

<%= link_to 'Edit', edit_user_fiat_account_path(@user_fiat_account) %> |
<%= link_to 'Back', user_fiat_accounts_path %>
