
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">

    <%= f.label :Currency %>
    <%= f.input :currency_code, as: :radio_buttons, collection: UserFiatAccount.where(user: current_user).map{|acc| acc.currency_code}
    %>
    <%= f.label :Amount %>
    <%= f.text_field :amount_fiat %>
    <%= f.label "Type of Transaction" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, locals[:typetr], class: "btn-add btn-small btn-block" %>
  </div>
<% end %>
