
<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">

    <%= f.text_field :amount_stable, placeholder: "Amount" %>
    <% @fiat_accounts = UserFiatAccount.all.map{|acc| acc.currency_code}.uniq! %>
    <%= f.input :currency_code, :label => false, as: :select, collection: @fiat_accounts, selected: @fiat_accounts[0]
    %>
    <%= f.input :typetr, as: :hidden, :required => true, :input_html => { :value => "SELL" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "SELL STABLES", class: "btn-add btn-small btn-block" %>
  </div>
<% end %>
